.addimg{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__form{
        width: 100%;
        background: red;
    }
    &__form_input{
        margin: 0;
        padding: 13px 20px;
        background: blue;
    }
}