.homes {
  margin: 0;
  padding: 20px 0px 0px 0px;
  box-sizing: border-box;
  &__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__ul_li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 17px;
  }
  &__ul_li_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__ul_li_top_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__ul_li_top_left_img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__ul_li_top_left_desc {
    margin: 0;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 500;
  }
  &__ul_li_top_right {
    margin: 0;
    padding: 0;
  }
  &__ul_li_top_right {
    background: transparent;
    color: #000;
    font-weight: 900;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__ul_li_video {
    padding-top: 15px;
    width: 627px;
    height: 650px;
  }
  &__ul_li_video_img {
    width: 100%;
    height: 100%;
  }
  &__ul_li_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
  }
  &__ul_li_bottom_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__ul_li_bottom_left_button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
  &__ul_li_bottom_left_button + &__ul_li_bottom_left_button {
    margin-left: 13px;
  }
  &__ul_li_bottom_left_button > img {
    width: 24px;
    height: 24px;
  }
  &__ul_li_bottom_right_button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
  &__ul_li_bottom_right_button > img {
    width: 24px;
    height: 24px;
  }
  &__ul_li_num {
    margin: 0;
    padding-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__ul_li_num_desc {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  }
  &__ul_li_num_desc_span {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    padding-left: 13px;
  }

  &__ul_li_form {
    padding-top: 14px;
    margin: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
  }

  &__ul_li_form_input {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(220, 219, 219);
    outline: none;
    padding: 13px;
    color: rgba(47, 46, 46, 0.267);
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 4px;
  }
  &__ul_li_form_input:focus {
    border: 2px solid #424242;
    transition: all 0.4s ease-in;
    color: #424242;
    font-style: italic;
    border-radius: 4px;
  }
  .isactive{
    display: block;
  }
}
