.header {
  padding:0px 0px 0px 0px;
  &__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    border: 1px solid #000;
  }
  &__nav_navlink {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
  }
  &__nav_navlink > img {
    width: 160px;
  }
  &__navbar {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 999;
    bottom: 0px;
    border: 1px solid #000;
    background: #ffffff;
  }
  &__nav_ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__nav_ul_li + &__nav_ul_li {
    margin-left: 20px;
  }
  &__nav_ul_li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__nav_ul_li_navlink > img {
    width: 30px;
    height: 30px;
  }
  &__nav_ul__li_account > img {
    border-radius: 50px;
    object-fit: cover;
  }
}
